@import './reset.scss';
@import './font.scss';
@import './color/color.variables.css';
@import './space.scss';
@import './text.scss';
@import './icon/icon-css.css';

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  line-height: normal;
  text-rendering: optimizeSpeed;
}
